<ul id="lists">
  <% sort_lists_by_completed(@lists).each_with_index do |list, index| %>
    <% if list_complete?(list) %>
      <li class="complete">
    <% else %>
      <li>
    <% end %>
        <a>
          <h2>
            <a href="/lists/<%= find_original_index(@lists, list[:name]) %>" ><%= list[:name] %></a>
          </h2>
          <p><%= count_completed(list) %> / <%= list[:todos].size %></p>
        </a>
      </li>
  <% end %>
</ul>
<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>

